  {{name}}FwRouteTable:
    Type: AWS::EC2::RouteTable
    Properties: 
      VpcId: !Ref {{name}}VPC
      Tags:
        - Key: Name
          Value: !Sub '${AWS::StackName} {{name}} VPC FW route-table'

  {{name}}FwDefaultRoute:
    Type: AWS::EC2::Route
    Condition: HasTgwAttachment
    DependsOn: {{name}}TgwAttachment
    Properties:
      RouteTableId: !Ref {{name}}FwRouteTable
      DestinationCidrBlock: '0.0.0.0/0'
      TransitGatewayId: !Ref TgwAttachment

  {{name}}NetworkFW:
    Type: AWS::NetworkFirewall::Firewall
    Properties:
      FirewallName: !Sub '{{name}}-${AWS::StackName}'
      FirewallPolicyArn: !Ref {{name}}DefaultFirewallPolicy
      VpcId: !Ref {{name}}VPC
      SubnetMappings:
{%- for x in AZ %}
        - SubnetId: !Ref {{name}}FWSubnet{{x.az|upper}}
{%- endfor %}
      Description: {{name}} Network firewall
      Tags:
        - Key: Name
          Value: !Sub '${AWS::StackName} {{name}} network firewall'

{%- for x in AZ %}
  # See https://github.com/aws-cloudformation/aws-cloudformation-resource-providers-networkfirewall/issues/15
  {{name}}TGWRoute{{x.az|upper}}:
    Type: AWS::EC2::Route
    Properties:
      RouteTableId: !Ref {{name}}TGWRouteTable{{x.az|upper}}
      DestinationCidrBlock: '0.0.0.0/0'
      VpcEndpointId: !Select [ 0, !Split [ ',', !Select [ 1 , !Split [ '{{x.az|lower}}:', !Join [ ',', !GetAtt {{name}}NetworkFW.EndpointIds ] ] ] ] ]
{%- endfor %}

  {{name}}DefaultFirewallPolicy:
    Type: 'AWS::NetworkFirewall::FirewallPolicy'
    Properties:
      FirewallPolicyName: !Sub "${AWS::StackName}-default-{{name}}-policy"
      FirewallPolicy:
        StatelessDefaultActions:
          - 'aws:pass'
        StatelessFragmentDefaultActions:
          - 'aws:pass'
      Description: Default firewall policy passing everything
      Tags:
        - Key: Name
          Value: !Sub "${AWS::StackName} default {{name}} policy"

# ADD DEFAULT POLICY AND RuleGroup
# Should there be 1 NFW and then fix the cross AZ routing manually?

#  SampleStatefulRulegroup:
#    Type: 'AWS::NetworkFirewall::RuleGroup'
#    Properties:
#      RuleGroupName: SampleStatefulRulegroupName
#      Type: STATEFUL
#      RuleGroup:
#        RulesSource:
#          RulesString: >-
#            pass tcp 10.20.20.0/24 45400:45500 <> 10.10.10.0/24 5203
#            (msg:"test";sid:1;rev:1;)
#      Capacity: 100
#      Description: Rulegroup description goes here
#      Tags:
#        - Key: Foo
#          Value: Bar
