  FwRouteTable:
    Type: AWS::EC2::RouteTable
    Properties: 
      VpcId: !Ref InspectionVPC
      Tags:
        - Key: Name
          Value: !Sub '${AWS::StackName} Inspection VPC FW route-table'

  FwDefaultRoute:
    Type: AWS::EC2::Route
    Condition: HasTgwAttachment
    Properties:
      RouteTableId: !Ref FwRouteTable
      DestinationCidrBlock: '0.0.0.0/0'
      TransitGatewayId: !Ref TgwAttachment

  NetworkFW:
    Type: AWS::NetworkFirewall::Firewall
    Properties:
      FirewallName: !Sub '${AWS::StackName}'
      FirewallPolicyArn: !Ref DefaultFirewallPolicy
      VpcId: !Ref InspectionVPC
      SubnetMappings:
{%- for x in AZ %}
        - SubnetId: !Ref InspectionFWSubnet{{x.az|upper}}
{%- endfor %}
      Description: Network firewall to inspect outbound traffic to internet
      Tags:
        - Key: Name
          Value: !Sub '${AWS::StackName} network firewall'

{%- for x in AZ %}
  # See https://github.com/aws-cloudformation/aws-cloudformation-resource-providers-networkfirewall/issues/15
  InspectionTGWRoute{{x.az|upper}}:
    Type: AWS::EC2::Route
    Properties:
      RouteTableId: !Ref InspectionTGWRouteTable{{x.az|upper}}
      DestinationCidrBlock: '0.0.0.0/0'
      VpcEndpointId: !Select [ 0, !Split [ ':', !Select [ 1 , !Split [ '{{x.az|lower}}:', !Join [ ':', !GetAtt NetworkFW.EndpointIds ] ] ] ] ]
{%- endfor %}

  DefaultFirewallPolicy:
    Type: 'AWS::NetworkFirewall::FirewallPolicy'
    Properties:
      FirewallPolicyName: !Sub "${AWS::StackName}-default-policy"
      FirewallPolicy:
        StatelessDefaultActions:
          - 'aws:pass'
        StatelessFragmentDefaultActions:
          - 'aws:pass'
      Description: Default firewall policy passing everything
      Tags:
        - Key: Name
          Value: !Sub '${AWS::StackName} default policy'

# ADD DEFAULT POLICY AND RuleGroup
# Should there be 1 NFW and then fix the cross AZ routing manually?

#  SampleStatefulRulegroup:
#    Type: 'AWS::NetworkFirewall::RuleGroup'
#    Properties:
#      RuleGroupName: SampleStatefulRulegroupName
#      Type: STATEFUL
#      RuleGroup:
#        RulesSource:
#          RulesString: >-
#            pass tcp 10.20.20.0/24 45400:45500 <> 10.10.10.0/24 5203
#            (msg:"test";sid:1;rev:1;)
#      Capacity: 100
#      Description: Rulegroup description goes here
#      Tags:
#        - Key: Foo
#          Value: Bar
