  EdgeTGWRouteTable{{x.az|upper}}:
    Type: AWS::EC2::RouteTable
    Properties: 
      VpcId: !Ref EdgeVPC
      Tags:
        - Key: Name
          Value: !Sub '${AWS::StackName} Edge VPC TGW route-table-{{x.az|upper}}'

  EdgeTGWSubnetRouting{{x.az|upper}}:
    Type: AWS::EC2::SubnetRouteTableAssociation
    Properties:
      RouteTableId: !Ref EdgeTGWRouteTable{{x.az|upper}}
      SubnetId: !Ref EdgeTGWSubnet{{x.az|upper}}

  EdgeFWRouteTable{{x.az|upper}}:
    Type: AWS::EC2::RouteTable
    Properties: 
      VpcId: !Ref EdgeVPC
      Tags:
        - Key: Name
          Value: !Sub '${AWS::StackName} Edge VPC Firewall route-table-{{x.az|upper}}'

  EdgeFWSubnetRouting{{x.az|upper}}:
    Type: AWS::EC2::SubnetRouteTableAssociation
    Properties:
      RouteTableId: !Ref EdgeFWRouteTable{{x.az|upper}}
      SubnetId: !Ref EdgeFWSubnet{{x.az|upper}}

  EdgeFWDefaultRoute{{x.az|upper}}{{n}}:
    Type: AWS::EC2::Route
    Properties:
      RouteTableId: !Ref EdgeFWRouteTable{{x.az|upper}}
      DestinationCidrBlock: 0.0.0.0/0
      NatGatewayId: !Ref NatGw{{x.az|upper}}
      
  EdgePubSubnetRouting{{x.az|upper}}:
    Type: AWS::EC2::SubnetRouteTableAssociation
    Properties:
      RouteTableId: !Ref PubRouteTable{{x.az|upper}}
      SubnetId: !Ref EdgePubSubnet{{x.az|upper}}

  InternalInspectionTGWRouteTable{{x.az|upper}}:
    Type: AWS::EC2::RouteTable
    Properties: 
      VpcId: !Ref InternalInspectionVPC
      Tags:
        - Key: Name
          Value: !Sub '${AWS::StackName} Internal Inspection VPC TGW route-table-{{x.az|upper}}'

  InspectionTGWSubnetRouting{{x.az|upper}}:
    Type: AWS::EC2::SubnetRouteTableAssociation
    Properties:
      RouteTableId: !Ref InternalInspectionTGWRouteTable{{x.az|upper}}
      SubnetId: !Ref InternalInspectionTGWSubnet{{x.az|upper}}

  InspectionTGWSFWRouting{{x.az|upper}}:
    Type: AWS::EC2::SubnetRouteTableAssociation
    Properties:
      RouteTableId: !Ref InternalInspectionFwRouteTable
      SubnetId: !Ref InternalInspectionFWSubnet{{x.az|upper}}

  ExternalInspectionTGWRouteTable{{x.az|upper}}:
    Type: AWS::EC2::RouteTable
    Properties: 
      VpcId: !Ref ExternalInspectionVPC
      Tags:
        - Key: Name
          Value: !Sub '${AWS::StackName} On-Prem Inspection VPC TGW route-table-{{x.az|upper}}'

  ExternalInspectionTGWSubnetRouting{{x.az|upper}}:
    Type: AWS::EC2::SubnetRouteTableAssociation
    Properties:
      RouteTableId: !Ref ExternalInspectionTGWRouteTable{{x.az|upper}}
      SubnetId: !Ref ExternalInspectionTGWSubnet{{x.az|upper}}

  ExternalInspectionTGWSFWRouting{{x.az|upper}}:
    Type: AWS::EC2::SubnetRouteTableAssociation
    Properties:
      RouteTableId: !Ref ExternalInspectionFwRouteTable
      SubnetId: !Ref ExternalInspectionFWSubnet{{x.az|upper}}
