  EgressTGWRouteTable{{x.az|upper}}:
    Type: AWS::EC2::RouteTable
    Properties: 
      VpcId: !Ref EgressVPC
      Tags:
        - Key: Name
          Value: !Sub '${AWS::StackName} Egress VPC TGW route-table-{{x.az|upper}}'

  EgressTGWSubnetRouting{{x.az|upper}}:
    Type: AWS::EC2::SubnetRouteTableAssociation
    Properties:
      RouteTableId: !Ref EgressTGWRouteTable{{x.az|upper}}
      SubnetId: !Ref EgressTGWSubnet{{x.az|upper}}

  EgressTGWDefaultRoute{{x.az|upper}}:
    Type: AWS::EC2::Route
    Properties:
      RouteTableId: !Ref EgressTGWRouteTable{{x.az|upper}}
      DestinationCidrBlock: '0.0.0.0/0'
      NatGatewayId: !Ref NatGw{{x.az|upper}}

  EgressPubSubnetRouting{{x.az|upper}}:
    Type: AWS::EC2::SubnetRouteTableAssociation
    Properties:
      RouteTableId: !Ref PubRouteTable
      SubnetId: !Ref EgressPubSubnet{{x.az|upper}}
