  EgressTGWSubnet{{x.az|upper}}:
    Type: AWS::EC2::Subnet
    Properties:
      VpcId: !Ref EgressVPC
      AvailabilityZone: !Sub ${AWS::Region}{{x.az|lower}}
      CidrBlock: !Select [ {{x.index}} , !Cidr [ !Ref EgressVpcCidr, 8, 4 ] ]
      MapPublicIpOnLaunch: false
      Tags:
        - Key: Name
          Value: !Sub '${AWS::StackName} Egress VPC TGW subnet-{{x.az|upper}}'

  EgressPubSubnet{{x.az|upper}}:
    Type: AWS::EC2::Subnet
    Properties:
      VpcId: !Ref EgressVPC
      AvailabilityZone: !Sub ${AWS::Region}{{x.az|lower}}
      CidrBlock: !Select [ {{x.index + 4}} , !Cidr [ !Ref EgressVpcCidr, 8, 4 ] ]
      MapPublicIpOnLaunch: true
      Tags:
        - Key: Name
          Value: !Sub '${AWS::StackName} Egress VPC Public subnet-{{x.az|upper}}'

  InspectionTGWSubnet{{x.az|upper}}:
    Type: AWS::EC2::Subnet
    Properties:
      VpcId: !Ref InspectionVPC
      AvailabilityZone: !Sub ${AWS::Region}{{x.az|lower}}
      CidrBlock: !Select [ {{x.index}} , !Cidr [ !Ref InspectionVpcCidr, 8, 4 ] ]
      MapPublicIpOnLaunch: false
      Tags:
        - Key: Name
          Value: !Sub '${AWS::StackName} Inspection VPC TGW subnet-{{x.az|upper}}'

  InspectionFWSubnet{{x.az|upper}}:
    Type: AWS::EC2::Subnet
    Properties:
      VpcId: !Ref InspectionVPC
      AvailabilityZone: !Sub ${AWS::Region}{{x.az|lower}}
      CidrBlock: !Select [ {{x.index + 4}} , !Cidr [ !Ref InspectionVpcCidr, 8, 4 ] ]
      MapPublicIpOnLaunch: true
      Tags:
        - Key: Name
          Value: !Sub '${AWS::StackName} Inspection VPC FW subnet-{{x.az|upper}}'