  EdgeTGWSubnet{{x.az|upper}}:
    Type: AWS::EC2::Subnet
    Properties:
      VpcId: !Ref EdgeVPC
      AvailabilityZone: !Sub ${AWS::Region}{{x.az|lower}}
      CidrBlock: !Select [ {{x.index}} , !Cidr [ !Ref EdgeVpcCidr, 16, 7 ] ]
      MapPublicIpOnLaunch: false
      Tags:
        - Key: Name
          Value: !Sub '${AWS::StackName} Edge VPC TGW subnet-{{x.az|upper}}'

  EdgePubSubnet{{x.az|upper}}:
    Type: AWS::EC2::Subnet
    Properties:
      VpcId: !Ref EdgeVPC
      AvailabilityZone: !Sub ${AWS::Region}{{x.az|lower}}
      CidrBlock: !Select [ {{x.index + 4}} , !Cidr [ !Ref EdgeVpcCidr, 8, 8 ] ]
      MapPublicIpOnLaunch: true
      Tags:
        - Key: Name
          Value: !Sub '${AWS::StackName} Edge VPC Public subnet-{{x.az|upper}}'

  InternalInspectionTGWSubnet{{x.az|upper}}:
    Type: AWS::EC2::Subnet
    Properties:
      VpcId: !Ref InternalInspectionVPC
      AvailabilityZone: !Sub ${AWS::Region}{{x.az|lower}}
      CidrBlock: !Select [ {{x.index}} , !Cidr [ !Ref InternalInspectionVpcCidr, 8, 4 ] ]
      MapPublicIpOnLaunch: false
      Tags:
        - Key: Name
          Value: !Sub '${AWS::StackName} Internal Inspection VPC TGW subnet-{{x.az|upper}}'

  InternalInspectionFWSubnet{{x.az|upper}}:
    Type: AWS::EC2::Subnet
    Properties:
      VpcId: !Ref InternalInspectionVPC
      AvailabilityZone: !Sub ${AWS::Region}{{x.az|lower}}
      CidrBlock: !Select [ {{x.index + 4}} , !Cidr [ !Ref InternalInspectionVpcCidr, 8, 4 ] ]
      MapPublicIpOnLaunch: true
      Tags:
        - Key: Name
          Value: !Sub '${AWS::StackName} Internal Inspection VPC FW subnet-{{x.az|upper}}'

  ExternalInspectionTGWSubnet{{x.az|upper}}:
    Type: AWS::EC2::Subnet
    Properties:
      VpcId: !Ref ExternalInspectionVPC
      AvailabilityZone: !Sub ${AWS::Region}{{x.az|lower}}
      CidrBlock: !Select [ {{x.index}} , !Cidr [ !Ref ExternalInspectionVpcCidr, 8, 4 ] ]
      MapPublicIpOnLaunch: false
      Tags:
        - Key: Name
          Value: !Sub '${AWS::StackName} On-Prem Inspection VPC TGW subnet-{{x.az|upper}}'

  ExternalInspectionFWSubnet{{x.az|upper}}:
    Type: AWS::EC2::Subnet
    Properties:
      VpcId: !Ref ExternalInspectionVPC
      AvailabilityZone: !Sub ${AWS::Region}{{x.az|lower}}
      CidrBlock: !Select [ {{x.index + 4}} , !Cidr [ !Ref ExternalInspectionVpcCidr, 8, 4 ] ]
      MapPublicIpOnLaunch: true
      Tags:
        - Key: Name
          Value: !Sub '${AWS::StackName} On-Prem Inspection VPC FW subnet-{{x.az|upper}}'