  InternalInspectionTgwAttachment:
    Type: AWS::EC2::TransitGatewayVpcAttachment
    Condition: HasTgwAttachment
    Properties:
      VpcId: !Ref InternalInspectionVPC
      TransitGatewayId: !Ref TgwAttachment
      Tags:
        - Key: "Name"
          Value: !Sub '${AWS::StackName} Internal Inspection VPC'
      SubnetIds:
{%- for x in AZ %}
        - !Ref InternalInspectionTGWSubnet{{x.az|upper}}
{%- endfor %}

  ExternalInspectionTgwAttachment:
    Type: AWS::EC2::TransitGatewayVpcAttachment
    Condition: HasTgwAttachment
    Properties:
      VpcId: !Ref ExternalInspectionVPC
      TransitGatewayId: !Ref TgwAttachment
      Tags:
        - Key: "Name"
          Value: !Sub '${AWS::StackName} On-Prem Inspection VPC'
      SubnetIds:
{%- for x in AZ %}
        - !Ref ExternalInspectionTGWSubnet{{x.az|upper}}
{%- endfor %}

  EdgeTgwAttachment:
    Type: AWS::EC2::TransitGatewayVpcAttachment
    Condition: HasTgwAttachment
    Properties:
      VpcId: !Ref EdgeVPC
      TransitGatewayId: !Ref TgwAttachment
      Tags:
        - Key: "Name"
          Value: !Sub '${AWS::StackName} Edge VPC'
      SubnetIds:
{%- for x in AZ %}
        - !Ref EdgeTGWSubnet{{x.az|upper}}
{%- endfor %}
